<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
	<link rel="stylesheet" href="../public/css/swiper-3.3.1.min.css">
	<link rel="stylesheet" href="../public/css/bootstrap.min.css">
	<link rel="stylesheet" href="../src/css/index.css">
	<title>Timyo</title>
</head>
<body>
	<!-- 页面容器 -->
	<div class="page">
			<!-- 顶部 -->
			<div class="container-fluid top">
				<div class="container main-container">
					<div class="row top1">
						<nav class="navbar">
							<div class="container-fluid">
							    <div class="navbar-header">
								    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								        <span class="sr-only">Toggle navigation</span>
								        <span class="icon-bar"></span>
								        <span class="icon-bar"></span>
								        <span class="icon-bar"></span>
								      </button>
							      <a class="navbar-brand" href="#"><img src="../img/logo.png" alt="logo"></a>
							    </div>
							    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								    <ul class="nav navbar-nav navbar-right nav-r">
								        <li><a href="#">Mission</a></li>
								        <li><a href="#">FAQ</a></li>
								        <li><a href="#">Blog</a></li>
								        <li><a href=""><img src="../img/france.png" alt="france"></a></li>
								        <li><a href=""><img src="../img/uk.png" alt="uk"></a></li>
								    </ul>
							    </div>
							</div>
						</nav>
					</div>
				</div>
				<div class="row top2">
					<div class="container top2-container">
						<div class="row top2-row">
							<div class="col-md-5 col-md-offset-2 col-xs-12 col-sm-4 title text-center">
								<h2>It's About Time</h2>
								<h1>email that matters,</h1>
								<h1>when it matters.</h1>
								<span>Watch the video</span>
								<a href="" class="glyphicon glyphicon-play-circle"></a>
							</div>
							<div class="col-md-5 focus col-xs-9 col-sm-8 text-center">
								<div class="swiper-container con0">
								    <div class="swiper-wrapper">
								        <div class="swiper-slide slide"><img src="../img/focus1.png" alt="img1" class="img-responsive"></div>
								        <div class="swiper-slide slide"><img src="../img/focus2.png" alt="img2" class="img-responsive"></div>
								        <div class="swiper-slide slide"><img src="../img/focus3.png" alt="img3" class="img-responsive"></div>
								        <div class="swiper-slide slide"><img src="../img/focus4.png" alt="img4" class="img-responsive"></div>
								    </div>
								    <div class="p0"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 顶部结束 -->
			<!-- appstore开始 -->
			<div class="appstore">
				<div class="container app">
					<div class="row text-center app-row1">
						<h3>Available now for iOS!</h3>
						<p>Currently available for Gmail and Google Apps - more providers coming soon.</p>
						<a href=""><img src="../img/as.png" alt="app"></a>
						<div class="col-xs-12 form1">
							<form action="" class="form-inline form-group">
								<div class="input-group form-group">
							      <div class="input-group-btn">
							        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
							        <ul class="dropdown-menu">
							          <li><a href="#">United States<span>1+</span></a></li>
							          <li><a href="#">France<span>33+</span></a></li>
							          <li><a href="#">United Kindom<span>25+</span></a></li>
							          <li role="separator" class="divider"></li>
							          <li><a href="#">Russia<span>90+</span></a></li>
							          <li><a href="#">Russia2<span>70+</span></a></li>
							          <li><a href="#">Russia3<span>23+</span></a></li>
							        </ul>
							      </div>
							      <input type="text" class="form-control" aria-label="" placeholder="(201)555-5555">
	    						</div>
								<input type="button" class="form-control btn btn-default text-me-link" value="Text me a link">
							</form>
						</div>
						
					</div>
					<div class="row form-row">
						<div class="col-xs-12"></div>
					</div>
					<br/>
					<div class="row app-row2 text-center">
						<p>If you are on Android or Windows Phone, we are working on versions for you!</p>
						<p>Enter your email and choose your OS below to be notified.</p>
						<form action="">
							<input type="text" class="app-input2" placeholder="Your email Address">
							<p>Choose your OS to submit.</p>
						</form>
						<a href=""><img src="../img/android.jpg" alt="android"></a>
						<a href=""><img src="../img/windows.jpg" alt="windows"></a>
					</div>
				</div>
			</div>
			<!-- appstore结束 -->
			<!-- wait开始 -->
			<div class="wait">
				<div class="container wait-container">
					<div class="row wait-row1">
						<div class="col-md-12 text-center">
							<p class="h1">Wait!</p>
							<p class="h1">You don’t need to answer every email as soon as it hits your inbox.</p>
						</div>
					</div>
					<div class="row wait-row2">
						<div class="col-md-5 col-xs-12 text-center wait5">
							<a href=""><img src="../img/iphone.png" alt="iphone" class="img-responsive"></a>
						</div>
						<div class="col-md-7 wait7">
							<p>That's why we've reimagined your inbox and created Agenda View to let you know at a glance which emails are important and when you need to deal with them. With Timyo, you can communicate more meaningfully by sending and receiving emails with clear expectations that are already prioritized by time.</p>
							<p>Now you can focus on the email that matters, when it matters.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- wait结束 -->
			<!-- today开始 -->
			<div class="today">
				<div class="container today-con">
					<div class="row today-row1 text-center">
						<p class="h1">Focus on what matters today</p>
						<a href="">See how Timyo helps you</a>
						<a href="" class="glyphicon glyphicon-play-circle"></a>
					</div>
					<div class="row today-row2">
						<div class="col-md-4 today-l text-center">
							<img src="../img/today_iphone.jpg" alt="today-iphone" class="img-responsive">
						</div>
						<div class="col-md-8 col-xs-12 today-r text-center">
							<p><img src="../img/blue.png" alt="blue"><a href="">Manage important email by time</a><a href="#" class="glyphicon glyphicon-play-circle"></a></p>
							<p>No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.</p>
							<p><img src="../img/yellow.png" alt="yellow"><a href="">Manage important email by time</a><a href="#" class="glyphicon glyphicon-play-circle"></a></p>
							<p>No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.</p>
							<p><img src="../img/green.png" alt="green"><a href="">Manage important email by time</a><a href="#" class="glyphicon glyphicon-play-circle"></a></p>
							<p>No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.</p>
							<p><img src="../img/red.png" alt="red"><a href="">Manage important email by time</a><a href="#" class="glyphicon glyphicon-play-circle"></a></p>
							<p>No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- today结束 -->
			<!-- mac -->
			<div class="mac">
				<div class="container mac-con">
					<div class="row mac-row">
						<div class="col-md-7 col-sm-7">
							<img src="../img/mac.png" alt="mac" class="img-responsive">
						</div>
						<div class="col-md-5 col-sm-5">
							<h1>Give the gift of clear expectations</h1>
							<p>When recipients open your email, they will see immediately a clear, simple, and polite message letting them know when you would like them to respond. By giving the gift of clear expectations, you give them other gifts as well: peace of mind, increased productivity, and, ultimately, time.</p>
							<br/>
							<p>And it’s hard to think of a better gift than that.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- mac结束 -->
			<!-- well -->
			<div class="well">
				<div class="container well-con text-center">
					<div class="row well-row1">
						<h1>Timyo works on your desktop as well</h1>
					</div>
					<div class="row well-row2">
						<div class="col-md-4">
							<img src="../img/well1.png" alt="well1">
						</div>
						<div class="col-md-4">
							<img src="../img/well1.png" alt="well2">
						</div>
						<div class="col-md-4">
							<img src="../img/well1.png" alt="well3">
						</div>
					</div>
					<div class="row well-row3 text-center">
						<img src="../img/well_down.png" alt="well_down">
					</div>
				</div>
			</div>
			<!-- well结束 -->
			<!-- mission -->
			<div class="mission">
				<div class="container mission-con text-center">
					<div class="row mission-row1">
						<div class="col-xs-12">
							<h1>We are on a mission</h1>
						</div>					
					</div>
					<div class="row mission-row2 text-center">
						<div class="col-md-3">
							<img src="../img/gongjian.png" alt="gongjian">
							<p>Email remains the #1 tool today’s workforce uses to communicate. Unfortunately, it was not designed for the ‘always on’ expectations that have become the norm. Thanks to Timyo, users can now benefit from clear and proactive communication.</p>
						</div>
						<div class="col-md-4 col-md-offset-1">
							<img src="../img/chanpin.png" alt="chanpin">
							<p>By helping you stay focused on important emails when they matter to you, Timyo helps you cut through the clutter. And when the people you work with use Timyo too, your email will come already prioritized by due date.</p>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<img src="../img/heping.png" alt="heping">
							<p>At Timyo, we believe it's time for email to make your life easier again. With email prioritized by time and features like Agenda View and Reply Tracker, Timyo takes the stress out of email and puts something much better in its place: peace.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- mission结束 -->
			<!-- up -->
			<div class="up">
				<div class="container up-con">
					<div class="row up-row1 text-center">
						<p class="h1">Focus on what matters up</p>
						<a href="">See how Timyo helps you</a>
						<a href="" class="glyphicon glyphicon-play-circle"></a>
					</div>
					<div class="row up-row2 text-center">
						<div class="col-md-4 up-l">
							<img src="../img/iphone_gray.png" alt="iphone_gray">
						</div>
						<div class="col-md-7 col-md-offset-1 up-r text-center">
							<p><img src="../img/red.png" alt="blue"><a href="">Manage important email by time</a><a href="#" class="glyphicon glyphicon-play-circle"></a></p>
							<p>No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.</p>
							<p><img src="../img/red.png" alt="yellow"><a href="">Manage important email by time</a><a href="#" class="glyphicon glyphicon-play-circle"></a></p>
							<p>No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.</p>
							<p><img src="../img/red.png" alt="green"><a href="">Manage important email by time</a><a href="#" class="glyphicon glyphicon-play-circle"></a></p>
							<p>No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.</p>
							<p><img src="../img/red.png" alt="red"><a href="">Manage important email by time</a><a href="#" class="glyphicon glyphicon-play-circle"></a></p>
							<p>No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.</p>
						</div>
					</div>
					<div class="row up-row3 text-center">
						<div class="col-md-7 col-md-offset-5">
							<a href="#"><img src="../img/as.png" alt="as"></a>
						</div>
					</div>
				</div>
			</div>
			<!-- up结束 -->
			<!-- 底部 -->
			<div class="foot">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h4>Timyo is a patented solution: US 20150007048A1</h4>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-12">
							<ul class="text-center">
								<li><a href="">Privacy Policy</a></li> |
								<li><a href="">Security</a></li> |
								<li><a href="">Press Inquiries</a></li> |
								<li><a href="">About Us</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<h6>©2015 Timyo. All rights reserved.</h6>
						</div>
					</div>
				</div>
			</div>
			<!-- 底部结束 -->
			<!-- 悬浮 -->
			<div class="sideI"><img src="../img/as.png" alt="sideI"></div>

	</div>
	<!-- 页面结束 -->
</body>
<script type="text/javascript" src="../public/js/tween.js"></script>
<script type="text/javascript" src="../public/js/swiper-3.3.1.min.js"></script>
<script>        
  var mySwiper = new Swiper ('.con0', {
    loop: true,    
    autoplay : 4000,
    pagination: '.p0', 
    effect : 'fade',   
    paginationClickable : true
  })        
  </script>
<script type="text/javascript" src="../public/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../src/js/index.js"></script>
</html>